*.mefd
*.pyc
wandb/
checkpoints/
.lr_find*
*.ckpt
/data/
hdf5_data/
hdf5_data_corrected*
predictions*/
DatabaseSpindles/
edfs/
*.tex
DREAMS_HDF5/
*.xml
*.zip
*.onnx
# *.png
# *.html
model_comparison*
pr_micro*png
roc_micro*png
SPIKES/
SPIKE_INTERVALS/
hdf5_data*
lightning_logs/
DREAMS*
final*
