einops==0.8.0
h5py
matplotlib
mef_tools==1.2.1
numpy==2.0.1
optuna==3.5.0
pandas==2.2.2
plotly==5.18.0
PyQt5==5.15.11
pytest==7.4.3
pytorch_lightning
PyYAML==6.0.1
scikit_learn
scipy
seaborn
sympy
torch
torchvision
tqdm
wandb
pyedflib