--extra-index-url https://download.pytorch.org/whl/cu124

einops==0.8.0
h5py
matplotlib
reformer-pytorch
mef_tools==1.2.1
numpy==1.26.0
optuna==3.5.0
pandas==2.2.2
plotly==5.18.0
PyQt5==5.15.11
pytest==7.4.3
PyYAML==6.0.1
scikit_learn
scipy
seaborn
sympy
torch
torchvision
tqdm
wandb
pyedflib
pytorch_lightning
yasa
PyWavelets
onnx
onnxruntime
onnx-simplifier